
apiVersion: v1
kind: Service
metadata:
  name: demo-app
  namespace: devops-lab
  labels:
    app: demo-app
spec:
  type: ClusterIP
  selector:
    app: demo-app
  ports:
    - port: 80
      targetPort: 5000
      name: http
